@font-face {
  font-family: Roboto;
  src: url(Roboto-Light.ttf);
}
body {
  font-family: Roboto;
  background-color: #b56bff;
  outline: dotted 4px orange;
}
.title {
  font-size: 100px;
  color: #f9defa;
  outline: dotted 4px orange;
}
nav {
  outline: dotted 4px orange;
  position: relative;
  margin-top: -50px;
}

a {
  outline: dotted 4px orange;
  color: #f9defa;
  text-decoration: none;
  font-size: 40px;
  margin-left: 20px;
}
p {
  outline: dotted 4px orange;
  font-size: 30px;
  color: #cbadde;
}
.colors {
  outline: dotted 4px orange;
  width: 100%;
}
a:hover {
  color: #f5abe8;
  text-decoration: none;
  font-size: 40px;
  margin-left: 20px;
}
.madeby {
  outline: dotted 4px orange;
  font-size: 20px;
  color: #cbadde;
}
